.main {
  margin-top: 20px;
}

form a {
  margin-left: 5px;
}

ul li {
  font-size: 30px;
}

.section {
  margin-bottom: 40px;
}

.comment {
  margin-top: 5px;
  margin-bottom: 10px;
}

.voteBtn {
  margin: 4px;
  font-size: 20px;
}

.sortBtn {
  margin: 2px;
}